body{
    background-image: url("img/bender-intro2.png");
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    background-color: cadetblue;
    height: 50px;
    width: 100%;
    text-align: center;
}
nav{
    background-color: blanchedalmond;
    height: 50px;
    width: 100%;
    text-align: left;
    position: fixed;
}
.nav{
    background: #5cd65c;
    height: 30px;
    text-align: center;
}
.nav li{
    display: inline-block;
    list-style:none;
    height: 30px;
    line-height: 0 px;
    padding:0 20px;
}
.nav li:hover{
   background-color: #66c2ff;
   transition: background .5s;
}
.nav-link {
    color:#008080;
    text-decoration:none;

section{
    background-color: cadetblue;
    height: 50%;
    width: 50%;
    text-align: left;   
    border: 6px inset #ffffcc;
}
aside{
    background-color: crimson;
    height: 100%;
    width: 50%;
    text-align: right;
    float:right
}
article{
    background-color: darkcyan;
    height: 50%;
    width: 50%;
    text-align: center;
}
footer{
    background-color: blue;
    height: 50px;
    width: 100%;
    text-align: center;
}
