body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    background-color: cadetblue;
    height: 50px;
    width: 100%;
    text-align: center;
}
header img{
    float:center;
    height: 50px;

}
nav{
    background-color: blanchedalmond;
    height: 50px;
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0px;
}
nav li{
    display: inline;
    list-style: none;
}
nav li a:link{
    color: #ffffff;
    text-decoration: none;
}
nav li a:visited{
    color: forestgreen;
}
nav li a:hover{
    color: burlywood;
    background-color: aqua;
}

section{
    background-color: cadetblue;
    height: 50%;
    width: 50%;
    text-align: left;   
    border: 6px inset #ffffcc;
}
aside{
    background-color: #cccccc;
    height: 100%;
    width: 50%;
    text-align: center;
    float: right;
}    
aside img{
    float: center;
    height: 300px;
    width: 300px;
}
article{
    background-color: darkcyan;
    height: 50%;
    width: 50%;
    text-align: center;
}
footer{
    background-color: #ff0066;
    height: 50px;
    width: 100%;
    text-align: center;
}
.fa-facebook{
    background: #1066e6;
    color: white;
    position: ablolute;
    right: 50%;
    left: 50%;
    top: 25%;
}