body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    background-color: #66C88F;
    height: 100px;
    width: 100%;
    text-align: center;
}
header img{
    float:center;
    height: 100%;

}
nav{
    background-color: blanchedalmond;
    height: 50px;
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0px;
    padding: 5px;
    z-index: 2;
}
.logo img{
    float: left;
    align:left;
    height:50px;
    widows: 5px;%;

}

nav li{
    display: inline;
    list-style: none;
}

nav li a:link{
    color: #ffffff;
    text-decoration: none;
}

nav li a:visited{
    color: forestgreen;
}

nav li a:hover{
    color: burlywood;
    background-color: aqua;
}


aside{
    height: 300px;
    width: 100%;
    text-align: center;
}    
.stars{
    float: center;
    height: 300px;
    width: 100%;
}

.PEship{
    z-index: 1;
    height: 200px;
    float: center;
    position: relative;
    bottom: 200px;
}

section{
    background-color: cadetblue;
    height: 50%;
    width: 50%;
    text-align: left;   
}


article{
    background-color: darkcyan;
    height: 50%;
    width: 50%;
    text-align: center;
}
footer{
    background-color: #ff0066;
    height: 100px;
    width: 100%;
    text-align: center;
    position: relative;
}

.fa-facebook{
    background: #1066e6;
    color: white;
    right: 50%;
    left: 50%;
    top: 25%;
}

footer li{
    display: -moz-inline-stack; 
    list-style: none;
}

footer li a:link{
    color: black;
    text-decoration: none;
}

footer li a:visited{
    color: grey;
}

footer li a:hover{
    color: blue;
    background-color: aqua;
}