body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}
header{
    background-color: #66C88F;
    height: 100px;
    width: 100%;
    text-align: center;
}
header img{
    float:center;
    height: 100%;

}
nav{
    background-color: black;
    height: 50px;
    width: 100%;
    text-align: center;
    position: sticky;
    top: 0px;
    text-emphasis-style: unset;
    z-index: 2;
    font-size: 30px;
    letter-spacing: 4px;
}
.logo img{
    float: left;
    box-align:left;
    height:50px;
}

nav li{
    font-family: 'Bangers', cursive;
    display: inline;
    list-style: none;
}

nav li a:link{
    color: #ffffff;
    text-decoration: none;
}

nav li a:visited{
    color: forestgreen;
}

nav li a:hover{
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        color: rgb(121, 16, 37);
}



.banner{
    height: 300px;
    width: 100%;
    text-align: center;
}    

.stars{
    float: center;
    height: 320px;
    width: 100%;
}

.PEship{
    z-index: 1;
    height: 200px;
    float: center;
    position: relative ;
    bottom: 250px;
}

section{
    background-color: cadetblue;
    height: 60%;
    width: 100%;
    text-align: center; 
}

.column {
    float: left;
    width: 33.33%;
    height: 100%;

}
  
.row:after{
    display: table;
    clear: both;
}

section img{
    height: 250px;
}

article{
    background-color: darkcyan;
    height: 60%;
    width: 100%;
    text-align: center;
    float: center;
    position: relative;
}

.column2{
    float: left;
    width: 43%;
    padding: 50px;
    height: 300px;
}

.column3{
    float: right;
    width: 43%;
    padding: 0px;
    height: 300px;
    margin-top: 50px;

}


.row2:after{
    display: table;
    clear: both;
}


footer{
    background-color: #ff0066;
    height: 100px;
    width: 100%;
    text-align: center;
    position: relative;
}

.fa-facebook{
    background: #1066e6;
    color: white;
    right: 50%;
    left: 50%;
    top: 25%;
}

footer li{
    list-style: none;
}

footer li a:link{
    color: black;
    text-decoration: none;
}

footer li a:visited{
    color: grey;
}

footer li a:hover{
    color: blue;
    background-color: aqua;
}